/*.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.flex-container div {
    padding: 10px;
}

.name {
    display: flexbox;
    padding: 5pt 10pt;
    flex-direction: row;
    border: 10px;
}

.flex-container input {
    padding-right: 10px;
}

.flex-container .lab {
    border: 10%;
    align-content: center;
    padding-inline-end: 10px;
}


form {
    border: 10px;
    border-top: 0ch;
    background-color: whitesmoke;
    padding: 5px;
    padding-top: 0;
}
*/
form h3 {
    text-align: right;
    background-color: grey;
    padding-right: 50px;
    font-size: 30px;
    font-weight: bolder;
}

form h4 {
    text-align: right;
    padding-right: 120px;
    font-size: 20px;
}

label {
    display: block;
    padding: 10px;
}

.col1 {
    float: left;
    border: 10px;
    padding: 20px;
}