body {
    background-image: url('back2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    color: black;
    opacity: 1;
}
body,html{
    height: 100%;
}

img{
    margin-right: 2px;
}

li{
    padding: 5px;
    white-space: nowrap;
}

ul{
    padding: 20px;
}
.stand{
    background-color: #609EA2;
    font-family: 'Nanum Gothic', sans-serif;
}

.ench{
    background-color: #C92C6D;
    font-family: 'Nanum Gothic', sans-serif;
}

.unlim{
    background-color: #913175;
    font-family: 'Nanum Gothic', sans-serif;
}

.headings{
    font-size: 30px;
    font-weight: lighter;
    padding: 30px;
}

.box{
    /* background-image: linear-gradient(rgba(107, 104, 104, 0.406),rgba(221, 215, 215, 0.822)); */
    background-image: linear-gradient(#000C40,#F0F2F0);
}