li{
    white-space: nowrap;

}

.headings{
    background-color: rgba(201, 195, 195, 0.578);
    margin: 0px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

strong{
    font-size: 35px;
    color: black;
}

.price{
    color: grey;
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.dis{
    max-width: 80%;
}


